.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(114, 29, 114);
}
.Navbar h1{
   color:white;
   margin-left:50px ;
}
.Navbar ul{
    display: flex;
    list-style: none;
}
.Navbar ul li{
    padding-left: 30px;
}